// Toggles
// Used in conjunction with global variables to enable certain theme features.

border-radius($radius = $border-radius)
  if $enable-rounded
    border-radius: $radius

box-shadow($shadow...)
  if $enable-shadows
    box-shadow: $shadow

transition($transition...)
  if $enable-transitions
    transition: $transition

// Utilities
@import "util/mixins/border.import.styl"
@import "util/mixins/hover.import.styl"
@import "util/mixins/image.import.styl"
