type-regular()
  font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 400
  color: $color-default

ellipsized()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// Large fonts
font-l3()
  font-size: $font-l3
  line-height: $line-height-l3
font-l2()
  font-size: $font-l2
  line-height: $line-height-l2
font-l1()
  font-size: $font-l1
  line-height: $line-height-l1

// Medium fonts
font-m3()
  font-size: $font-m3
  line-height: $line-height-m3
font-m2()
  font-size: $font-m2
  line-height: $line-height-m2
font-m1()
  font-size: $font-m1
  line-height: $line-height-m1

// Small fonts
font-s3()
  font-size: $font-s3
  line-height: $line-height-s3
font-s2()
  font-size: $font-s2
  line-height: $line-height-s2
font-s1()
  font-size: $font-s1
  line-height: $line-height-s1


