$color-active    = #09A7D3
$color-body      = #09A7D3
$color-container = #ECF0F1

$color1-dark     = #63616A

$color-bright1   = #00C0E4
$color-bright2   = #5CD799
$color-bright3   = #7658F8
$color-bright4   = #EAC14D
$color-bright5   = #E6567A
$color-bright6   = #CB6FD6

$heading-size1   = 60px
$heading-size2   = 44px
$heading-size3   = 32px
$heading-size4   = 22px
$heading-size5   = 14px
$heading-size6   = 10px
