$color-active    = #09A7D3
$color-body      = #09A7D3
$color-container = #262626

$color-default   = #fff
$color-dark1     = #63616A

$color-bright1   = #00C0E4
$color-bright2   = #5CD799
$color-bright3   = #7658F8
$color-bright4   = #EAC14D
$color-bright5   = #E6567A
$color-bright6   = #CB6FD6

@color-medium-rare: #ccc
@color-medium: #aaa
@color-medium-well: #666
@color-well: #555
@color-full: #333


// Large fonts
$font-l3        = 56px
$line-height-l3 = 64px
$font-l2        = 48px
$line-height-l2 = 56px
$font-l1        = 40px
$line-height-l1 = 48px

// Medium fonts
$font-m3        = 28px
$line-height-m3 = 32px
$font-m2        = 24px
$line-height-m2 = 28px
$font-m1        = 20px
$line-height-m1 = 24px

// Small fonts
$font-s3        = 16px
$line-height-s3 = 24px
$font-s2        = 14px
$line-height-s2 = 20px
$font-s1        = 12px
$line-height-s1 = 16px

$page-width = 960px
