.page-container
  background-color: $color-container
  overflow: scroll

.plan-new-container
  form
    width: 210px
    margin: 30px auto 40px

  .input-plan-new
    width: 210px
    height: 30px
    border-radius: 5px

  .form-new-plan
    position: relative

.plan-new-icons
  position: absolute
  right: 0px
  top: 0px

  &.l-show
    background-color: $color-dark1

  input[type=radio]
    display: none

  li
    display: table-cell
    vertical-align: middle
    height: 30px
    padding: 0 5px

  label
    margin: 0

  .fa-plus-circle
    color: $color-bright1
    &:hover
      color: lighten($color-bright1, 30)
  .fa-search
    color: $color-bright1
    &:hover
      color: lighten($color-bright1, 30)

.page-plan-items
  l-clearfix()
  li
    float: left
    width: 90%
    margin: 0 5% 30px 5%
    padding: .8rem
    border-radius: .3rem

  .fa-edit
    margin-left: .5rem

  input[type=date],
  input[type=datetime],
  textarea
    color: #123123

  button
    margin: 0 1rem

  .btn-right
    float: right
    margin: 0 2rem

@media screen and (min-width: 640px)
  .plan-new-container
    form
      width: 420px
    .input-plan-new
      width: 420px
  .page-plan-items
    li
      width: 48%
      margin: 0 0 30px 0
    li:nth-child(2n+1)
      margin: 0 4% 30px 0

@media screen and (min-width: 960px)
  .page-plan-items
    li
      width: 44%
    li:nth-child(2n+1)
      margin: 0 2% 30px 4%
    li:nth-child(2n)
      margin: 0 4% 30px 2%
  .page-container
    l-center()
